modules = ["nodejs-20", "web"]
run = "echo \"\""

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run preview"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "dev"

[[workflows.workflow]]
name = "dev"
author = 39954127
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
